<div class="col-10 offset-1 about">
 <h1>About Splurty</h1>
<p>
    Splurty was built by myself <a target="_blank" href="http://github.com/ChrisDHahn">Chris</a>; a <a target="_blank" href="http://www.thefirehoseproject.com/">FirehoseProject</a> graduate that has trained in Ruby on Rails coding and software engineer. This app, Splurty, collects quotes inputed by users and randomly displays a quote. This is my first app created with Ruby and a database. Enjoy!
  </p>
  <br />



   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Chris Hahn</h2>
      <br />
      <p>
        Christopher Hahn is currently a Web Developer with a solid knowledge of Ruby on Rails technology as well as Javascript. He has in depth knowledge in data structure and algorithms as well. His goals are to acquire a Web Developer job to further his knowledge and use his skills to benefit awesome companies.
      </p>
    </div>
  </div>
  <br class="clear" />



<br class="clear" />
<br />
<br />
<br />
<br />