
@font-face {
    font-family: 'ralewaymedium_italic';
    src: font_url('raleway-mediumitalic-webfont.woff2') format('woff2'),
         font_url('raleway-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayextralight_italic';
    src: font_url('raleway-extralightitalic-webfont.woff2') format('woff2'),
         font_url('raleway-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}